@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "index.css";
@import "list.css";
@import "title-bar.css";
@import "nav-bar.css";

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}