@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "index.css";
@import "notice-bar.css";
@import "title-bar.css";
@import "nav-bar.css";
@import "list.css";
@import "menu-bar.css";
@import "chatbox.css";
@import "chatwrite.css";

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}

body.blue {
    background-color: rgb(125, 157, 184);
}

a {
    text-decoration: none;
    color: inherit;
}